/* You can add global styles to this file, and also import other style files */
@import './antd.min.css';
.cdk-overlay-container {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
}
.cdk-overlay-connected-position-bounding-box {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  min-width: 1px;
  min-height: 1px;
}
.ant-dropdown {
  top: initial;
  left: initial;
  margin-top: 7px;
  margin-bottom: 7px;
}
